@model ContenManagementSystem.Models.CompanyDescClass
@using ContenManagementSystem.Models
@{
    ViewBag.Title = "CompanyDesc";
}

<div id="Desc_mainGrid">



    <div id="maindesc">@Html.DisplayFor(model => model.ShortDesc) <div style="display:block;float:right">
    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyDescClassID })
    }
</div></div>
    

    <hr />
    <div id="secDesc">
        <div class="descitem">
            <strong>
                <img src="~/images/Icon/iconfinder_Location_4200473.png" width="15px" />
                @Html.DisplayNameFor(model => model.Address)
            </strong><br />
            @Html.DisplayFor(model => model.Address)
        </div>

        <div class="descitem">
            <strong>
                <img src="~/images/Icon/iconfinder_SocialMedia_Website-Outline_2959741.png" width="15px" />
                @Html.DisplayNameFor(model => model.Website)
            </strong><br /><a href="@Html.DisplayFor(model => model.Website)">
                @Html.DisplayFor(model => model.Website)
            </a>
        </div>
        <div class="descitem">
            <strong>
                <img src="~/images/Icon/iconfinder_multimedia-01_2849835.png" width="15px" />
                @Html.DisplayNameFor(model => model.Telephone)
            </strong><br />
            @Html.DisplayFor(model => model.Telephone)
        </div>

    </div>





    <div id="hours">
        <div style="float:right;">
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "EditOpenHours", new { id = Model.OpenHours.CompanyOpenHoursID })
            }
        </div>
        <table>


                <tr>
                    <td><strong>Monday</strong></td>
                    <td>
                        @Model.OpenHours.mondayOpen
                        <span> - </span>
                        @Model.OpenHours.mondayClose
                    </td>
                </tr>
                <tr>
                    <td><strong>Tuesday</strong></td>
                    <td>
                        @Model.OpenHours.thursdayOpen
                        <span> - </span>
                        @Model.OpenHours.tuesdayClose
                    </td>
                </tr>
                <tr>
                    <td><strong>Wednesday</strong></td>
                    <td>
                        @Model.OpenHours.wednesdayOpen
                        <span> - </span>
                        @Model.OpenHours.wednesdayClose
                    </td>
                </tr>
                <tr>
                    <td><strong>Thursday </strong></td>
                    <td>
                        @Model.OpenHours.thursdayOpen
                        <span> - </span>
                        @Model.OpenHours.thursdayClose
                    </td>
                </tr>
                <tr>
                    <td><strong>Friday </strong></td>
                    <td>
                        @Model.OpenHours.fridayOpen
                        <span> - </span>
                        @Model.OpenHours.fridayClose
                    </td>
                </tr>
                <tr>
                    <td><strong>Saturday </strong></td>
                    <td>
                        @Model.OpenHours.saturdayOpen
                        <span> - </span>
                        @Model.OpenHours.saturdayClose
                    </td>
                </tr>
                <tr>
                    <td><strong>Sunday </strong></td>
                    <td>
                        @Model.OpenHours.sundayOpen
                        <span> - </span>
                        @Model.OpenHours.sundayClose
                    </td>
                </tr>

            
        </table>
    </div>
    <div id="staff">
        <h4><strong>Staff</strong></h4>
        <div id="staffFlex">


            @foreach (ContenManagementSystem.Models.CompanyEmployee emp in Model.Employees)
            {

                <div class="staffdiv">
                    <img src="@Url.Content(@emp.pictureID)" width="50" /><br />
                    @using Microsoft.AspNet.Identity
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a href="@Url.Content("/Company/EditEmployees/" + emp.CompanyEmployeeID)">
                            <strong>@emp.empName</strong>
                        </a>

                    }
                    else
                    {
                        <strong>@emp.empName</strong>
                    }

                    <p>@emp.position</p>
                </div>
            }
        </div>
    </div>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
